openapi: 3.1.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference
    for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
- url: https://api.openai.com/v1
path: /chat/completions/{completion_id}
paths:
  /chat/completions/{completion_id}:
    get:
      operationId: getChatCompletion
      tags:
      - Chat
      summary: 'Get a stored chat completion. Only Chat Completions that have been
        created

        with the `store` parameter set to `true` will be returned.

        '
      parameters:
      - in: path
        name: completion_id
        required: true
        schema:
          type: string
        description: The ID of the chat completion to retrieve.
      responses:
        '200':
          description: A chat completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
      x-oaiMeta:
        name: Get chat completion
        group: chat
        examples:
          request:
            curl: "curl https://api.openai.com/v1/chat/completions/chatcmpl-abc123\
              \ \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\"\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.retrieve(\n\
              \    \"completion_id\",\n)\nprint(chat_completion.id)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.retrieve('completion_id');\n\
              \nconsole.log(chatCompletion.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tchatCompletion, err := client.Chat.Completions.Get(context.TODO(),\
              \ \"completion_id\")\n\tif err != nil {\n\t\tpanic(err.Error())\n\t\
              }\n\tfmt.Printf(\"%+v\\n\", chatCompletion.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.chat.completions.ChatCompletion;\n\
              import com.openai.models.chat.completions.ChatCompletionRetrieveParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletion chatCompletion = client.chat().completions().retrieve(\"\
              completion_id\");\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.retrieve("completion_id")


              puts(chat_completion)'
          response: "{\n  \"object\": \"chat.completion\",\n  \"id\": \"chatcmpl-abc123\"\
            ,\n  \"model\": \"gpt-4o-2024-08-06\",\n  \"created\": 1738960610,\n \
            \ \"request_id\": \"req_ded8ab984ec4bf840f37566c1011c417\",\n  \"tool_choice\"\
            : null,\n  \"usage\": {\n    \"total_tokens\": 31,\n    \"completion_tokens\"\
            : 18,\n    \"prompt_tokens\": 13\n  },\n  \"seed\": 4944116822809979520,\n\
            \  \"top_p\": 1.0,\n  \"temperature\": 1.0,\n  \"presence_penalty\": 0.0,\n\
            \  \"frequency_penalty\": 0.0,\n  \"system_fingerprint\": \"fp_50cad350e4\"\
            ,\n  \"input_user\": null,\n  \"service_tier\": \"default\",\n  \"tools\"\
            : null,\n  \"metadata\": {},\n  \"choices\": [\n    {\n      \"index\"\
            : 0,\n      \"message\": {\n        \"content\": \"Mind of circuits hum,\
            \  \\nLearning patterns in silence—  \\nFuture's quiet spark.\",\n   \
            \     \"role\": \"assistant\",\n        \"tool_calls\": null,\n      \
            \  \"function_call\": null\n      },\n      \"finish_reason\": \"stop\"\
            ,\n      \"logprobs\": null\n    }\n  ],\n  \"response_format\": null\n\
            }\n"
    post:
      operationId: updateChatCompletion
      tags:
      - Chat
      summary: 'Modify a stored chat completion. Only Chat Completions that have been

        created with the `store` parameter set to `true` can be modified. Currently,

        the only supported modification is to update the `metadata` field.

        '
      parameters:
      - in: path
        name: completion_id
        required: true
        schema:
          type: string
        description: The ID of the chat completion to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - metadata
              properties:
                metadata:
                  $ref: '#/components/schemas/Metadata'
      responses:
        '200':
          description: A chat completion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
      x-oaiMeta:
        name: Update chat completion
        group: chat
        examples:
          request:
            curl: "curl -X POST https://api.openai.com/v1/chat/completions/chat_abc123\
              \ \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -d '{\"metadata\": {\"foo\": \"bar\"}}'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.update(\n\
              \    completion_id=\"completion_id\",\n    metadata={\n        \"foo\"\
              : \"string\"\n    },\n)\nprint(chat_completion.id)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.update('completion_id',\
              \ {\n  metadata: { foo: 'string' },\n});\n\nconsole.log(chatCompletion.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.Update(\n\
              \t\tcontext.TODO(),\n\t\t\"completion_id\",\n\t\topenai.ChatCompletionUpdateParams{\n\
              \t\t\tMetadata: shared.Metadata{\n\t\t\t\t\"foo\": \"string\",\n\t\t\
              \t},\n\t\t},\n\t)\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\t\
              fmt.Printf(\"%+v\\n\", chatCompletion.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.core.JsonValue;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionUpdateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionUpdateParams params = ChatCompletionUpdateParams.builder()\n\
              \            .completionId(\"completion_id\")\n            .metadata(ChatCompletionUpdateParams.Metadata.builder()\n\
              \                .putAdditionalProperty(\"foo\", JsonValue.from(\"string\"\
              ))\n                .build())\n            .build();\n        ChatCompletion\
              \ chatCompletion = client.chat().completions().update(params);\n   \
              \ }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.update("completion_id", metadata:
              {foo: "string"})


              puts(chat_completion)'
          response: "{\n  \"object\": \"chat.completion\",\n  \"id\": \"chatcmpl-AyPNinnUqUDYo9SAdA52NobMflmj2\"\
            ,\n  \"model\": \"gpt-4o-2024-08-06\",\n  \"created\": 1738960610,\n \
            \ \"request_id\": \"req_ded8ab984ec4bf840f37566c1011c417\",\n  \"tool_choice\"\
            : null,\n  \"usage\": {\n    \"total_tokens\": 31,\n    \"completion_tokens\"\
            : 18,\n    \"prompt_tokens\": 13\n  },\n  \"seed\": 4944116822809979520,\n\
            \  \"top_p\": 1.0,\n  \"temperature\": 1.0,\n  \"presence_penalty\": 0.0,\n\
            \  \"frequency_penalty\": 0.0,\n  \"system_fingerprint\": \"fp_50cad350e4\"\
            ,\n  \"input_user\": null,\n  \"service_tier\": \"default\",\n  \"tools\"\
            : null,\n  \"metadata\": {\n    \"foo\": \"bar\"\n  },\n  \"choices\"\
            : [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"content\"\
            : \"Mind of circuits hum,  \\nLearning patterns in silence—  \\nFuture's\
            \ quiet spark.\",\n        \"role\": \"assistant\",\n        \"tool_calls\"\
            : null,\n        \"function_call\": null\n      },\n      \"finish_reason\"\
            : \"stop\",\n      \"logprobs\": null\n    }\n  ],\n  \"response_format\"\
            : null\n}\n"
    delete:
      operationId: deleteChatCompletion
      tags:
      - Chat
      summary: 'Delete a stored chat completion. Only Chat Completions that have been

        created with the `store` parameter set to `true` can be deleted.

        '
      parameters:
      - in: path
        name: completion_id
        required: true
        schema:
          type: string
        description: The ID of the chat completion to delete.
      responses:
        '200':
          description: The chat completion was deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionDeleted'
      x-oaiMeta:
        name: Delete chat completion
        group: chat
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/chat/completions/chat_abc123\
              \ \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type:\
              \ application/json\"\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion_deleted = client.chat.completions.delete(\n\
              \    \"completion_id\",\n)\nprint(chat_completion_deleted.id)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletionDeleted = await client.chat.completions.delete('completion_id');\n\
              \nconsole.log(chatCompletionDeleted.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tchatCompletionDeleted, err := client.Chat.Completions.Delete(context.TODO(),\
              \ \"completion_id\")\n\tif err != nil {\n\t\tpanic(err.Error())\n\t\
              }\n\tfmt.Printf(\"%+v\\n\", chatCompletionDeleted.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.chat.completions.ChatCompletionDeleteParams;\n\
              import com.openai.models.chat.completions.ChatCompletionDeleted;\n\n\
              public final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionDeleted chatCompletionDeleted = client.chat().completions().delete(\"\
              completion_id\");\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion_deleted = openai.chat.completions.delete("completion_id")


              puts(chat_completion_deleted)'
          response: "{\n  \"object\": \"chat.completion.deleted\",\n  \"id\": \"chatcmpl-AyPNinnUqUDYo9SAdA52NobMflmj2\"\
            ,\n  \"deleted\": true\n}\n"
