openapi: 3.1.0
info:
  title: OpenAI API
  description: The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference
    for more details.
  version: 2.3.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
- url: https://api.openai.com/v1
path: /responses/{response_id}
paths:
  /responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      summary: 'Retrieves a model response with the given ID.

        '
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to retrieve.
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/IncludeEnum'
        description: 'Additional fields to include in the response. See the `include`

          parameter for Response creation above for more information.

          '
      - in: query
        name: stream
        schema:
          type: boolean
        description: 'If set to true, the model response data will be streamed to
          the client

          as it is generated using [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).

          See the [Streaming section below](/docs/api-reference/responses-streaming)

          for more information.

          '
      - in: query
        name: starting_after
        schema:
          type: integer
        description: 'The sequence number of the event after which to start streaming.

          '
      - in: query
        name: include_obfuscation
        schema:
          type: boolean
        description: 'When true, stream obfuscation will be enabled. Stream obfuscation
          adds

          random characters to an `obfuscation` field on streaming delta events

          to normalize payload sizes as a mitigation to certain side-channel

          attacks. These obfuscation fields are included by default, but add a

          small amount of overhead to the data stream. You can set

          `include_obfuscation` to false to optimize for bandwidth if you trust

          the network links between your application and the OpenAI API.

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      x-oaiMeta:
        name: Get a model response
        group: responses
        examples:
          request:
            curl: "curl https://api.openai.com/v1/responses/resp_123 \\\n    -H \"\
              Content-Type: application/json\" \\\n    -H \"Authorization: Bearer\
              \ $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.retrieve("resp_123");

              console.log(response);

              '
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nfor response in client.responses.retrieve(\n\
              \    response_id=\"resp_677efb5139a88190b512bc3fef8e535d\",\n):\n  print(response)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst response = await client.responses.retrieve('resp_677efb5139a88190b512bc3fef8e535d');\n\
              \nconsole.log(response.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/responses\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tresponse, err := client.Responses.Get(\n\t\t\
              context.TODO(),\n\t\t\"resp_677efb5139a88190b512bc3fef8e535d\",\n\t\t\
              responses.ResponseGetParams{},\n\t)\n\tif err != nil {\n\t\tpanic(err.Error())\n\
              \t}\n\tfmt.Printf(\"%+v\\n\", response.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.Response;\n\
              import com.openai.models.responses.ResponseRetrieveParams;\n\npublic\
              \ final class Main {\n    private Main() {}\n\n    public static void\
              \ main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Response response = client.responses().retrieve(\"resp_677efb5139a88190b512bc3fef8e535d\"\
              );\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              response = openai.responses.retrieve("resp_677efb5139a88190b512bc3fef8e535d")


              puts(response)'
          response: "{\n  \"id\": \"resp_67cb71b351908190a308f3859487620d06981a8637e6bc44\"\
            ,\n  \"object\": \"response\",\n  \"created_at\": 1741386163,\n  \"status\"\
            : \"completed\",\n  \"completed_at\": 1741386164,\n  \"error\": null,\n\
            \  \"incomplete_details\": null,\n  \"instructions\": null,\n  \"max_output_tokens\"\
            : null,\n  \"model\": \"gpt-4o-2024-08-06\",\n  \"output\": [\n    {\n\
            \      \"type\": \"message\",\n      \"id\": \"msg_67cb71b3c2b0819084d481baaaf148f206981a8637e6bc44\"\
            ,\n      \"status\": \"completed\",\n      \"role\": \"assistant\",\n\
            \      \"content\": [\n        {\n          \"type\": \"output_text\"\
            ,\n          \"text\": \"Silent circuits hum,  \\nThoughts emerge in data\
            \ streams—  \\nDigital dawn breaks.\",\n          \"annotations\": []\n\
            \        }\n      ]\n    }\n  ],\n  \"parallel_tool_calls\": true,\n \
            \ \"previous_response_id\": null,\n  \"reasoning\": {\n    \"effort\"\
            : null,\n    \"summary\": null\n  },\n  \"store\": true,\n  \"temperature\"\
            : 1.0,\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n \
            \   }\n  },\n  \"tool_choice\": \"auto\",\n  \"tools\": [],\n  \"top_p\"\
            : 1.0,\n  \"truncation\": \"disabled\",\n  \"usage\": {\n    \"input_tokens\"\
            : 32,\n    \"input_tokens_details\": {\n      \"cached_tokens\": 0\n \
            \   },\n    \"output_tokens\": 18,\n    \"output_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0\n    },\n    \"total_tokens\": 50\n  },\n\
            \  \"user\": null,\n  \"metadata\": {}\n}\n"
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      summary: 'Deletes a model response with the given ID.

        '
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
          example: resp_677efb5139a88190b512bc3fef8e535d
        description: The ID of the response to delete.
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-oaiMeta:
        name: Delete a model response
        group: responses
        examples:
          request:
            curl: "curl -X DELETE https://api.openai.com/v1/responses/resp_123 \\\n\
              \    -H \"Content-Type: application/json\" \\\n    -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\"\n"
            javascript: 'import OpenAI from "openai";

              const client = new OpenAI();


              const response = await client.responses.delete("resp_123");

              console.log(response);

              '
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nclient.responses.delete(\n    \"resp_677efb5139a88190b512bc3fef8e535d\"\
              ,\n)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nawait client.responses.delete('resp_677efb5139a88190b512bc3fef8e535d');"
            go: "package main\n\nimport (\n\t\"context\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \terr := client.Responses.Delete(context.TODO(), \"resp_677efb5139a88190b512bc3fef8e535d\"\
              )\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.responses.ResponseDeleteParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        client.responses().delete(\"resp_677efb5139a88190b512bc3fef8e535d\"\
              );\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              result = openai.responses.delete("resp_677efb5139a88190b512bc3fef8e535d")


              puts(result)'
          response: "{\n  \"id\": \"resp_6786a1bec27481909a17d673315b29f6\",\n  \"\
            object\": \"response\",\n  \"deleted\": true\n}\n"
